<ion-content style="--background: #131313">
  <div class="firstbg bg-image"></div>
  <ion-card *ngIf="showAllFields">
    <div class="logotitle ion-text-center">Change Password</div>
    <section
      style="
        padding: 5px 30px;
        min-height: 140px;
        font-size: 12px;
        line-height: 17px;
        text-align: JUSTIFY;
        background: antiquewhite;
      "
    >
      <p style="color: #3c3c3c">
        Password must contain:
        <br />8-25 Characters long><br />
        Atleast one lowercase letter<br />
        One Uppercase letter<br />
        One number <br />
        One special character[!,@,#,$,%,*,(,)]
      </p>
    </section>
    <ion-list>
      <div>
        <form
          novalidate
          [formGroup]="passSaveForm"
          (ngSubmit)="saveChangePass()"
        >
          <div class="item">
            <label>New Password</label>
            <ion-input
              formControlName="newPass"
              class="form-line-active"
              type="text"
              placeholder="Enter New Password"
              name="newPass"
            ></ion-input>
          </div>
          <p
            class="error"
            *ngIf="isSaveSubmitted && passSaveForm.controls.newPass.errors?.required"
          >
            Password is required.
          </p>
          <p
            class="error"
            *ngIf="passSaveForm.controls.newPass.errors?.pattern"
          >
            Please provide valid Password.
          </p>
          <div class="item">
            <label>ReEnter New Password</label>
            <ion-input
              formControlName="renewPass"
              class="form-line-active"
              type="text"
              placeholder="Enter ReEnter New Password"
              name="renewPass"
            ></ion-input>
          </div>
          <p
            class="error"
            *ngIf="isSaveSubmitted && passSaveForm.controls.renewPass.errors?.required"
          >
            Password is required.
          </p>
          <p
            class="error"
            *ngIf="passSaveForm.controls.renewPass.errors?.pattern"
          >
            Please provide valid Password.
          </p>
          <div
            class="text-center"
            style="display: flex; margin: 30px auto; text-align: end"
          >
            <ion-button
              shape="round"
              fill="clear"
              (click)="cancel()"
              style="background: transparent; text-transform: capitalize"
            >
              Back to Login
            </ion-button>
            <ion-button type="submit" expand="block">Save</ion-button>
          </div>
        </form>
      </div>
    </ion-list>
    <div
      class="text-center"
      style="text-align: center"
      *ngIf="showPassSaveFormError"
    >
      <p style="color: red">{{errorMessage}}</p>
    </div>
  </ion-card>
  <ion-card *ngIf="!showAllFields">
    <div class="logotitle text-center">Save New Password</div>
    <div class="text-center" style="text-align: center">
      <p style="color: blue" (click)="cancel()">Click Here to Re-Login</p>
    </div>
  </ion-card>
</ion-content>
