<ion-app>
  <ion-split-pane contentId="main-content">
    <ion-menu contentId="main-content" type="overlay">
      <ion-content>
        <ion-list id="inbox-list" style="background: transparent">
          <ion-row>
            <ion-col size="12" class="p0 ion-text-center">
              <!-- <ion-avatar class="br25"> -->
              <ion-icon
                style="font-size: 4em; color: #616e7e"
                name="person-circle-outline"
              ></ion-icon>
              <!-- </ion-avatar> -->
              <h4
                class="fs-f4 white-text"
                style="color: #616e7e; margin: 5px 0px"
              >
                Guest
              </h4>
              <p
                class="font-secondary white-text"
                style="color: #616e7e !important; margin: 5px 0px"
              >
                guest@gmail.com
              </p>
            </ion-col>
          </ion-row>
          <ion-menu-toggle
            auto-hide="false"
            *ngFor="let p of appPages; let i = index"
          >
            <ion-item
              (click)="openPage(p.title)"
              routerDirection="root"
              lines="none"
              detail="false"
              routerLinkActive="selected"
            >
              <ion-icon
                slot="start"
                [ios]="p.icon + '-outline'"
                [md]="p.icon + '-sharp'"
              ></ion-icon>
              <ion-label>{{ p.title }}</ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>
      </ion-content>
    </ion-menu>
    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-split-pane>
</ion-app>
