<ion-content
  style="
    --background: url(https://i.pinimg.com/736x/e6/7d/af/e67daf68a6e8f6d4a9283cb7d64b098c.jpg);
  "
>
  <ion-card style="margin-top: 50%; opacity: 0.7">
    <div style="text-align: center; color: black; margin: 10px auto 0px">
      <ion-title>Register</ion-title>
    </div>
    <form>
      <ion-item lines="full">
        <ion-label position="floating">First name</ion-label>
        <ion-input type="text" required></ion-input>
      </ion-item>

      <ion-item lines="full">
        <ion-label position="floating">Last name</ion-label>
        <ion-input type="text" required></ion-input>
      </ion-item>

      <ion-item lines="full">
        <ion-label position="floating">Email</ion-label>
        <ion-input type="text" required></ion-input>
      </ion-item>

      <ion-item lines="full">
        <ion-label position="floating">Password</ion-label>
        <ion-input type="password" required></ion-input>
      </ion-item>

      <ion-row>
        <ion-col>
          <ion-button
            type="submit"
            color="danger"
            expand="block"
            (click)="register()"
            >Sign Up</ion-button
          >
          <div style="padding: 0px 5px">
            <p style="float: left">
              <a [routerLink]="['/login']" class="small-text">Back to Login</a>
            </p>
          </div>
        </ion-col>
      </ion-row>
    </form>
  </ion-card>
</ion-content>
